/* 
    Variabili Colori
*/
:root {
    --primary-color: #000;
    --primary-color-light: #141922;
    --secondary-color: #fff;
    --secondary-color-light: #717171;
    --grey-color: #282828;
    --overlay-animation-color: rgb(50, 205, 50);
}
/* 
    Regole colori generali 
*/
.col-w {
    color: var(--secondary-color);
}
.col-inherit {
    color: inherit;
}
/* Colori e Ombre Scrollbar pagina */
::-webkit-scrollbar-track {
    box-shadow: inset 0.1rem 0 5px #656565;
}
::-webkit-scrollbar-thumb {
    background-color: var(--overlay-animation-color);
    box-shadow: inset 2px 2px 5px #000;
}
/* 
    Colori Comuni Pagina 
*/
.btn,
#main-page h1,
#main-page h3,
#home,
.fa-house,
aside h3,
aside h4 {
    color: var(--secondary-color);
}
.btn.t2,
aside h5 i,
aside h5,
#main-page,
#main-page ul li a,
#dx-foot {
    color: var(--secondary-color-light)
}
/* 
    Colori Aside Pagina 
*/
aside,
#foot-side-nav {
    background-color: var(--primary-color);
}
aside,
aside ul li a,
aside hr {
    color: var(--secondary-color-light);
}
#nav-app ul li:first-child {
    border-color: var(--overlay-animation-color);
}
.fa-plus {
    color: var(--primary-color);
}
.fa-plus,
.circle-user {
    background-color: var(--secondary-color-light);
}
.circle-down {
    filter: invert(48%) sepia(7%) saturate(17%) hue-rotate(19deg) brightness(90%) contrast(87%);
}
/* 
    Colori Main-Pagine 
*/
#call-action {
    background-color: #080b1276;
}
#main-page {
    background-color: var(--primary-color-light);
}
.overlay {
    background-color: #00000082;
}
/* 
    Colori Footer Pagina 
*/
footer {
    background-color: var(--grey-color);
}
footer > div > div:first-child {
    color: var(--secondary-color-light);
}
/* 
    Colori Player-Bar Progression Bar 
*/
.play-b {
    background-color: #5a5a5a;
}
.play-b-bkg {
    background-color: #c1c1c1;
}
svg.pointer-bar {
    background-color: var(--secondary-color);
}
/***************************
***** Box & Text Shadow ****
***************************/
/* 
    Ombre Corpo pagina 
*/
#call-action {
    box-shadow: 8px -3px 10px #605d6c;
}
.btn {
    box-shadow: 3px 5px 5px #53504d;
}
#main-page ul li a,
.card {
    text-shadow: 4px 4px 5px #232323;
}
.btn,
#main-page .title-sec {
    text-shadow: 4px 3px 5px var(--primary-color);
}
.img-playlist:not(.i2) {
    box-shadow: 4px 5px 8px #454549;
}
.i2 img {
    box-shadow: 4px 5px 8px #454549;
}
/*
    Ombre Aside 
*/
aside {
    box-shadow: -5px -6px 10px -7px #2b2b2b inset;
}
#logo,
aside hr {
    filter: invert(56%) sepia(78%) saturate(726%) hue-rotate(73deg) brightness(101%) contrast(83%);    
}
#playlist a,
#nav-app ul li a {
    text-shadow: 2px 2px 5px #4e4e50;
}
/* 
    Ombre Footer   
*/
footer {
    box-shadow: 0 2px 10px #656565;
}
.play-b,
#playing-song {
    box-shadow: 4px 3px 5px var(--primary-color);
}
#sx-foot div a i,
#sx-foot div h4,
#sx-foot div p,
#player-bar p,
#player-bar div a i,
#dx-foot a i {
    text-shadow: 4px 4px 5px var(--primary-color);
}
