/* 
    Variabili Colori
*/
:root {
    --primary-color: #000;
    --primary-color-light: #141922;
    --secondary-color: #fff;
    --secondary-color-light: #717171;
    --grey-color: #282828;
}
/* 
    Regole colori generali 
*/
.col-w {
    color: var(--secondary-color);
}
.col-inherit {
    color: inherit;
}
/* 
    Colori Comuni Pagina 
*/
.btn,
#main-page h1,
#main-page h3,
#home,
.fa-house,
aside h3,
aside h4 {
    color: var(--secondary-color);
}
.btn.t2,
aside h5 i,
aside h5,
#main-page,
#main-page ul li a,
#dx-foot {
    color: var(--secondary-color-light)
}
/* 
    Colori Aside Pagina 
*/
aside {
    background-color: var(--primary-color);
}
aside,
aside ul li a,
aside hr {
    color: var(--secondary-color-light);
}
.fa-plus,
.circle-user {
    background-color: var(--secondary-color-light);
}
.circle-down {
    filter: invert(48%) sepia(7%) saturate(17%) hue-rotate(19deg) brightness(90%) contrast(87%);
}
/* 
    Colori Main-Pagine 
*/
#call-action {
    background-color: #080b1276;
}
#main-page {
    background-color: var(--primary-color-light);
}
.overlay {
    background-color: #00000082;
}
/* 
    Colori Footer Pagina 
*/
footer {
    background-color: var(--grey-color);
}
footer > div > div:first-child {
    color: var(--secondary-color-light);
}
/* 
    Colori Player-Bar Progression Bar 
*/
.play-b {
    background-color: #5a5a5a;
}
.play-b-bkg {
    background-color: #c1c1c1;
}
svg.pointer-bar {
    background-color: var(--secondary-color);
}