/* 
    Variabili Dimensioni
*/
:root {
    --dim-rem-0_3: 0.3rem;
    --dim-rem-0_5: 0.5rem;
    --dim-rem-1: 1rem;
}
/************************** */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
}
/* 
    Regole comuni testo 
*/
.font-s-0_5 {
    font-size: 0.8rem;
}
.font-s-1_5 {
    font-size: 1.5rem;
}
.font-s-2_5 {
    font-size: 2.5rem;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.text-dec-n {
    text-decoration: none;
}
.list-sty-n {
    list-style-type: none;
}
.t-align-c {
    text-align: center;
}
.v-align-m {
    vertical-align: middle;
}
/* 
    Border e Overflow 
*/
.b-rad-30p {
    border-radius: 30px;
}
.b-rad-50 {
    border-radius: 50%;
}
.overflow-y {
    overflow-y: scroll;
}
.overflow-y-a {
    overflow-y: auto;
}
/* 
    Regole comuni Display 
*/
.d-none {
    display: none;
}
.d-in-block {
    display: inline-block;
}
/* 
    Regole comuni flex 
*/
.d-flex {
    display: flex;
}
.flex-d-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.just-center {
    justify-content: center;
}
.just-sp-between {
    justify-content: space-between;
}
.al-items-c {
    align-items: center;
}
/* 
    Regole comuni Padding  e Margin
*/
.pad-x-0_5 {
    padding-left: var(--dim-rem-0_5);
    padding-right: var(--dim-rem-0_5);
}
.pad-x-l-0_5 {
    padding-left: var(--dim-rem-0_5);
}
.pad-x-1 {
    padding-left: var(--dim-rem-1);
    padding-right: var(--dim-rem-1);
}
.pad-y-0_5 {
    padding-top: var(--dim-rem-0_5);
    padding-bottom: var(--dim-rem-0_5);
}
.pad-y-t-0_5 {
    padding-top: var(--dim-rem-0_5);
}
.pad-y-b-0_5 {
    padding-bottom: var(--dim-rem-0_5);
}
.pad-y-1 {
    padding-top: var(--dim-rem-1);
    padding-bottom: var(--dim-rem-1);
}
.pad-y-t-1 {
    padding-top: var(--dim-rem-1);
}
.margin-y-b-2 {
    margin-bottom: 2rem;
}
/* 
    Regole comuni Dimensioni 
*/
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
/*
    Regole pagina
*/
main {
    height: 88vh;
}
ul li a {
    text-decoration: none;
}
ul li a {
    line-height: 2rem;
} 
#playlist ul li a {
    line-height: 1.7rem;
    font-size: 0.8rem;
} 
.btn {
    float: right;
    border: 1px solid var(--secondary-color);
    margin: 1.8rem 0.2rem;
    padding: var(--dim-rem-0_5) 2rem;
}
/* 
    Regole Aside 
*/
aside {
    width: 15rem;
    flex-shrink: 0;
}
aside > div:first-child {
    margin: 0 0 var(--dim-rem-0_5);
}
aside > div {
    margin: 0 1.5rem;
}
aside h5 {
    font-size: var(--dim-rem-1);
}
#nav-app ul li {
    padding-left: 1.3rem;
    border-left: 2px solid;
    border-color: var(--primary-color);
}
#nav-app ul li:first-child {
    border-color: limegreen;
}
#nav-app {
    height: 12rem;
}
#logo {
    padding-left: 1.3rem;
    width: 70%;
}
#logo-small {
    width: 3rem;
    padding-left: 0.6rem;
}
#playlist {
    height: calc(100% - 13rem);
}
.fa-circle-down,
.fa-magnifying-glass,
.fa-home {
    padding-right: var(--dim-rem-0_3);
}
.fa-lines-leaning {
    padding-left: 0.3rem;
}
#foot-side-nav p a {
    font-size: 0.8rem;
}
.fa-plus {
    padding: 0.6rem;
    font-size: 1.3rem;
    margin-right: var(--dim-rem-0_3);
}
.icon {
    width: 1.5rem;
    margin-right: var(--dim-rem-0_3);
}
/* 
    Regole main-page
 */
#call-action {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 15rem);
    height: 6rem;
    z-index: 10;
}
#call-action a {
    margin-right: var(--dim-rem-1);
}
#main-page {
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#main-page hr {
    border: 1px solid lime;
    width: 40%;
    margin-left: 50%;
    transform: translate(-50%, 0);
}
#main-page ul li {
    display: inline-block;
    padding: 0 var(--dim-rem-1);
}
.card {
    margin: 1.5rem 0.5rem;
    width: calc(100% / 6 - 1rem);
}
#main-page .img-playlist > img {
    display: block;
}
.img-playlist,
.play-b {
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
/* 
    Player-Bar Footer 
*/
footer {
    height: 12vh;
}
footer > div img {
    width: 3rem;
    margin-left: var(--dim-rem-1);
}
footer #player-bar {
    flex-basis: 40%;
}
footer > div > div:first-child,
footer > div > div:last-child {
    flex-basis: 15%;
} 
.fa-volume-high,
.fa-display,
.fa-list-ul {
    padding-right: var(--dim-rem-0_3);
}
/* 
    Player-Bar Progression Bar 
*/
.play-b-bkg {
    width: 25%;
    height: 0.4rem;
}
.img-playlist,
.pb2,
.pb2_2 {
    position: relative;
}
.pb2 {
    width: 6rem;
    margin-right: var(--dim-rem-1);
}
.pb2_2 {
    width: 80%;
}
svg.pointer-bar {
    position: absolute;
    top: -70%;
    left: 22%;
}
#player-bar div p {
    padding: 0 0.2rem 0.2rem;
}

